<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
    *{
        margin: 0;
        padding: 0;
    }
</style>
</head>
<body>
    <div class="">
        <div style="background-color: rgb(250, 229, 202);">
            <img src="https://static.vecteezy.com/system/resources/previews/005/877/625/original/human-blood-donation-logo-vector.jpg" height="140px" width="180px" style="margin-left: 150px;" />
            <h1 style="text-align: center;color: rgb(214, 111, 111);text-decoration-color: bisque;margin-top: -80px;"><i>e-Blood Care</i></h1>
            <p style="text-align: center;">An Integrated Blood Bank Automation System</p>
        </div>
    </div>
</body>